---
import linkArrowRaw from "@/assets/link_arrow.svg?raw";

interface Props {
  href: string;
  title: string;
  years: string;
  image: ImageMetadata;
  class?: string | string[];
}
const { href, title, years, image, class: extra = "" } = Astro.props;
---

<a
  href={href}
  class:list={[
    "group relative block h-[440px] w-full overflow-hidden rounded-2xl",
    "bg-cover bg-center", // background behavior
    extra, // e.g. 'col-span-full' | 'lg:col-span-2' | 'lg:col-span-1'
  ]}
  style={`background-image: url(${image.src});`}
>
  <div class="absolute inset-x-0 bottom-0 p-4 flex items-end justify-between">
    <div>
      <h3 class="text-white text-lg font-semibold">{title}</h3>
      <p class="text-white/80 text-sm">{years}</p>
    </div>
    <span class="h-4 w-4 text-indigo-500" set:html={linkArrowRaw} />
  </div>
</a>
