---
import { ClientRouter } from "astro:transitions";
import ProjectHeader from "@/components/ui/ProjectHeader.astro";
import BackButton from "@/components/ui/BackButton.astro";
import ProjectContnetWrapper from "@/components/ui/ProjectContnetWrapper.astro";
import { Image } from "astro:assets";
//
import "../style/global.css";

export interface Props {
  title: string;
  years: string;
  description?: string;
  logo?: ImageMetadata;
}
const { title, years, description, logo } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="font-(family-name:--font-inter)">
    <main class="pb-[12.5rem]">
      <div
        class="px-[var(--container-padding)] w-full flex items-center gap-4 py-5 lg:sticky top-0 z-10"
      >
        <BackButton href="/" />
      </div>
      <ProjectContnetWrapper class="pt-[11.373rem]">
        {logo && <Image class="mb-[10px]" src={logo} width="80" alt={title} />}
        <ProjectHeader title={title} years={years} description={description} />
      </ProjectContnetWrapper>
      <slot />
    </main>
  </body>
</html>

<script>
  function initBackButton() {
    const btn = document.getElementById("back-btn");
    if (!btn) return;
    const url = new URL(window.location.href);
    const from = url.searchParams.get("from") || url.searchParams.get("back");
    if (from) {
      btn.setAttribute("href", "/#" + from);
    } else {
      btn.addEventListener("click", function (e) {
        e.preventDefault();
        window.history.back();
      });
    }
  }

  document.addEventListener("astro:page-load", initBackButton);
</script>
<script>
  import { attachAstroLifecycle } from "@/lib/projectEnhancements.ts";
  attachAstroLifecycle();
</script>
